USE [master]
GO
/****** Object:  Database [JobWebAPIData]    Script Date: 02/12/2020 10:16:59 AM ******/
CREATE DATABASE [JobWebAPIData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JobWebAPIData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\JobWebAPIData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JobWebAPIData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\JobWebAPIData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JobWebAPIData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JobWebAPIData]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/11/2020 10:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 2/12/2020 10:16:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[JobID] [int] IDENTITY(1,1) NOT NULL,
	[JobTitle] [nvarchar](200) NOT NULL,
	[CompanyName] [nvarchar](200) NOT NULL,
	[Package] [nvarchar](200) NOT NULL,
	[LastDate] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20201202082200_Init', N'3.1.9')
GO
SET IDENTITY_INSERT [dbo].[Jobs] ON 

INSERT [dbo].[Jobs] ([JobID], [JobTitle], [CompanyName], [Package], [LastDate]) VALUES (1, N'Senior Developer', N'ABC Informatics', N'70K', N'2020-11-14')
INSERT [dbo].[Jobs] ([JobID], [JobTitle], [CompanyName], [Package], [LastDate]) VALUES (2, N'Intern For Testing', N'Aerial Infotecs', N'10K', N'2020-11-28')
INSERT [dbo].[Jobs] ([JobID], [JobTitle], [CompanyName], [Package], [LastDate]) VALUES (3, N'Java Developer', N'ABC Informatics', N'100K', N'2020-11-27')
SET IDENTITY_INSERT [dbo].[Jobs] OFF
GO
USE [master]
GO
